@import url('https://fonts.googleapis.com/css?family=poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'poppins',sans-serif;
}
body{
    background:lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background: #FFF;
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0, 0, 0, 1);
}
.container .left_side{
    position: relative;
    background: #003147;    
    padding: 40px;
}
.profilletext{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}
.profilletext .imgBx{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}
.profilletext .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}
.profilletext h2{
    color: #FFF;
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600px;
    line-height: 1.4em;
}
.profilletext h2 span{
    font-size: 0.8em;
    font-weight: 300;
}
.ContactInfo{
    padding-top: 40px;
}
.titel{
    color: #FFF;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.ContactInfo ul{
    position: relative;
}
.ContactInfo ul li{
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
    background-color: #003147;
}
.ContactInfo ul li .icon{
    display: inline-block;
    width: 30px;
    font-size: 18px;
    /* color: #03a9f4; */
}
.ContactInfo ul li span{
    color: #FFF;
    font-weight: 300;
}
.ContactInfoeducation li{
margin-bottom: 15px;
}
.ContactInfoEducation h5{
    color: #03a9f4;
    font-weight: 500;
}
.ContactInfoEducation h4:nth-child(2){
    color: #FFF;
    font-weight: 500;
}
.ContactInfoEducation h4{
    color: #FFF;
    font-weight: 300;
}
.ContactInfoLanguage .percent{
    position: relative;
    width: 100%;
    height: 6px;
    background: #081921;
    display: block;
    margin-top: 5px;
}
.ContactInfoLanguage .percent div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #03a9f4;
}
.container .right_side{
    position: relative;
    background: #FFF;
    padding: 40px;
}
.about{
margin-bottom: 50px;
}
.about:last-child {
    margin-bottom: 0;
}
.titel2{
    color: #003147;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
.about .box{
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}
.about .box .year_company {
    min-width: 150px;
}
.about .box .year_company h5{
    text-transform: uppercase;
    color: #848c90;
    font-weight: 600;
}
.about .box .text h4 {
    text-transform: uppercase;
    color: #2a7da2;
    font-size: 16px;
}
.Skills .box {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 150px 1fr;
    justify-content: center;
    align-items: center;
}
.Skills .box h4{
    /* color:#848c99; */
    color: #333434;
    font-weight: 500;
}
.Skills .box .percent{
    position: relative;
    width: 100%;
    height: 10px;
    background: #f0F0F0;
}
.Skills .box .percent div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #03a9f4;
}
.interst ul {
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.interst ul li{
    list-style: none;
    color: #333;
    font-weight: 500;
    margin: 10px 0;
}
.interst ul li .fa{
    color: #03a9f4;
    font-size: 18px;
    width: 20px;
}
@media(max-width: 1000px){
    .container{
        margin: 10px;
        grid-template-columns: repeat(1,1fr);
    }
    .interst ul{
        grid-template-columns: repeat(2,1fr);
    }
}
@media(max-width: 600px)
{
.about .box{
    flex-direction: column;
}
.about .box .year_company {
    margin-bottom: 5px;
}
.interst ul{
    grid-template-columns: repeat(1,1fr);
}
.Skills .box {
    grid-template-columns: repeat(1,1fr);
}
}
p{
    line-height: 1.6;
}